{% extends 'base.html' %}


{% block body %}

<section class="container">
    <h1>Forecast</h1>
    <hr>
</section>
<section class="flex-container">
    <div class="row">
        {% for key, value in weather_dict.items %}
            <div class="col-lg-3 col-sm-4">
                <div class="card h-100 border border-dark rounded">
                    <img class="card-image" src={{value.temp_icon}}>
                    </img>
                    <div class="card-body">
                        <h2>{{ value.time_period }}, {{ value.temperature }} F</h2>
                        <p class="card-text">{{ value.forecast }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</section>
{% endblock %}