{% extends 'base.html' %}


{% block body %}
<section class="container">
    <h1>Vegetable Listing</h1>
    <hr>
</section>
<section class="flex-container">
    <div class="row">
        {% for item in vegetables %}
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-6">
            <div class="card border border-dark rounded">
                <img class="rounded-circle" src="{{item.vegetable_picture_url}}">
                </img>
                <div class="card-body">
                    <a href="/list/{{ item.vegetable }}" class="btn btn-secondary" role="'button">{{ item.vegetable
                        }}</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>

{% endblock %}