{% extends 'base.html' %}


{% block body %}
<div class="form">
    <form action="/update" method="POST">
        <input type="text" name="vegetable" placeholder="Add Vegetable Here" id="vegetable">
        <input type="text" name="sow_type" placeholder="Direct or Transplant" id="sow_type">
        <input type="number" name="harvest_days" placeholder="Days to Harvest" id="harvest_days">
        <input type="number" name="plant_spacing" placeholder="Plant Spacing (inches)" id="plant_spacing">
        <input type="number" name="seed_depth" placeholder="Seed Depth (inches)" id="seed_depth">
        <input type="text" name="sow_window_start" placeholder="Start Sow Date" id="sow_window_start">
        <input type="text" name="sow_window_end" placeholder="End Sow Date" id="sow_window_end">
        <input type="text" name="transplant_window_start" placeholder="Start Transplant Date"
            id="transplant_window_start">
        <input type="text" name="transplant_window_end" placeholder="End Transplant Date" id="transplant_window_end">
        <input type="text" name="harvest_window_start" placeholder="Start Harvest Window" id="harvest_window_start">
        <input type="text" name="harvest_window_end" placeholder="End Harvest Window" id="harvest_window_end">
        <input type="submit" value="Add new data">
    </form>
</div>

{% endblock %}